<!-- For testing purposes, delete head section when finished -->
<head>
	<link rel="stylesheet" type="text/css" href="../css/customStyle.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="../js/controllers/battleController.js"></script>
</head>
<div ng-app="battleApp" ng-controller="battleController" id="battleship-game-wrap">
    <h2>BattleShips!</h2>
    <div id="left-column">
    	Left Column
    	<div id="enemy-ships">
    		
    	</div>
    	<div id="player-ships">
    		<button ng-click="selectShip('Carrier')" type="button">Carrier</button>
    		<button ng-click="selectShip('Battleship')" type="button">Battleship</button>
    		<button ng-click="selectShip('Cruiser')" type="button">Cruiser</button>
    		<button ng-click="selectShip('Destroyer')" type="button">Destroyer</button>
    		<button ng-click="selectShip('Submarine')" type="button">Submarine</button>
    		<hr>
    		<button ng-click="changeOrientation()" type="button">Change Orientation</button>
    		<button ng-click="changeStateDebug()" type="button">Change Game State</button>
    	</div>
    	
    </div>
    <div id="boards">
    	Boards go here
    	<div id="enemy-board">
    		<table class="board" id="enemy-board">
    			<tr>
    				<th></th>
    				<th>A</th>
    				<th>B</th>
    				<th>C</th>
    				<th>D</th>
    				<th>E</th>
    				<th>F</th>
    				<th>G</th>
    				<th>H</th>
    				<th>I</th>
    				<th>J</th>
    			</tr>
    			<tr>
    				<td>0</td>
    				<td id="EC00" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC01" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC02" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC03" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC04" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC05" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC06" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC07" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC08" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC09" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>1</td>
    				<td id="EC10" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC11" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC12" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC13" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC14" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC15" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC16" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC17" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC18" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC19" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>2</td>
    				<td id="EC20" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC21" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC22" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC23" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC24" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC25" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC26" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC27" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC28" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC29" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>3</td>
    				<td id="EC30" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC31" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC32" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC33" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC34" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC35" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC36" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC37" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC38" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC39" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>4</td>
    				<td id="EC40" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC41" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC42" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC43" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC44" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC45" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC46" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC47" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC48" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC49" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>5</td>
    				<td id="EC50" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC51" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC52" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC53" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC54" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC55" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC56" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC57" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC58" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC59" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>6</td>
    				<td id="EC60" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC61" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC62" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC63" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC64" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC65" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC66" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC67" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC68" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC69" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>7</td>
    				<td id="EC70" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC71" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC72" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC73" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC74" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC75" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC76" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC77" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC78" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC79" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>8</td>
    				<td id="EC80" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC81" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC82" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC83" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC84" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC85" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC86" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC87" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC88" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC89" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>9</td>
    				<td id="EC90" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC91" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC92" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC93" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC94" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC95" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC96" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC97" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC98" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    				<td id="EC99" ng-click="fireOnCell($event)" ng-mouseleave="enemyCellLeave($event)" ng-mousemove="enemyCellHover($event)"></td>
    			</tr>
    		</table>
    	</div>
    	<div id="player-board">
    		<p>Current Selected Ship: {{ currentSelectedShip }}</p>
    		<p>Current Ship Orientation: {{ currentShipOrientation }}</p>
    		<p>Current Game Status: {{ gameStatus }}</p>
    		<table class="board" id="player-board">
    			<tr>
    				<th></th>
    				<th>A</th>
    				<th>B</th>
    				<th>C</th>
    				<th>D</th>
    				<th>E</th>
    				<th>F</th>
    				<th>G</th>
    				<th>H</th>
    				<th>I</th>
    				<th>J</th>
    			</tr>
    			<tr>
    				<td>0</td>
    				<td id="C00" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C01" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C02" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C03" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C04" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C05" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C06" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C07" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C08" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C09" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>1</td>
    				<td id="C10" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C11" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C12" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C13" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C14" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C15" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C16" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C17" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C18" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C19" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>2</td>
    				<td id="C20" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C21" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C22" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C23" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C24" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C25" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C26" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C27" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C28" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C29" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>3</td>
    				<td id="C30" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C31" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C32" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C33" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C34" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C35" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C36" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C37" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C38" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C39" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>4</td>
    				<td id="C40" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C41" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C42" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C43" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C44" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C45" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C46" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C47" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C48" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C49" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>5</td>
    				<td id="C50" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C51" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C52" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C53" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C54" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C55" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C56" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C57" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C58" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C59" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>6</td>
    				<td id="C60" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C61" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C62" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C63" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C64" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C65" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C66" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C67" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C68" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C69" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>7</td>
    				<td id="C70" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C71" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C72" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C73" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C74" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C75" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C76" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C77" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C78" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C79" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>8</td>
    				<td id="C80" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C81" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C82" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C83" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C84" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C85" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C86" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C87" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C88" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C89" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    			</tr>
    			<tr>
    				<td>9</td>
    				<td id="C90" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C91" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C92" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C93" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C94" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C95" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C96" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C97" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C98" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    				<td id="C99" ng-click="placeShip($event)" ng-mouseleave="cellLeave($event)" ng-mousemove="cellHover($event)"></td>
    			</tr>
    		</table>
    	</div>
    </div>
    <div id="right-column">
    	<div id="history-chat">
    		Here is where the chat goes!
    	</div>
    	<div id ="player-status">
    	</div>
    </div>
</div>
