
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container
	form( method="post")#account-form.form-horizontal.well
		h1
		p#sub1.subheading Please tell us a little about yourself.
		hr
		fieldset
			#name-cg.form-group
				label.col-sm-3.control-label(for='name-tf') Name
				.col-sm-9
					input#name-tf(type='text', name='name', value= user.name).form-control
			#email-cg.form-group
				label.col-sm-3.control-label(for='email-tf') Email
				.col-sm-9
					input#email-tf(type='text', name='email', value= user.email).form-control
			#clist-cg.form-group
				label.col-sm-3.control-label(for='country-list') Location
				.col-sm-9
					select#country-list(name='country').form-control
						each item in countries
							option(selected=item.name == user.country)= item.name
			hr
			p#sub2.subheading
			#user-cg.form-group
				label.col-sm-3.control-label(for='user-tf') Username
				.col-sm-9
					input#user-tf.disabled(type='text', name='user', value= user.user).form-control
			#pass-cg.form-group
				label.col-sm-3.control-label(for='pass-tf') Password
				.col-sm-9
					input#pass-tf(type='password', name='pass', value='').form-control
			hr
			.form-buttons
				button(type='button')#account-form-btn1.btn.btn-default
				button(type='submit')#account-form-btn2.btn.btn-default

// display form errors in a custom modal window //

include modals/form-errors
