
extends layout

block content

	#login-container
		form( method="post")#login-form.well
			h1 Battleship
			p.subheading Please Login To Your Account
			div.form-group
				label Username
				input(type="text", name="user", id='user-tf').form-control.required
			div.form-group
				label Password
				input(type="password", name="pass", id='pass-tf').form-control.required
			div.form-group
				button(type="submit")#btn-login.btn.btn-primary
					span(aria-hidden="true").glyphicon.glyphicon-lock
					|  Sign in
				label#remember-me.checkbox
					input(type="checkbox", checked='checked')
					| Remember Me
			div.clear-fix
			hr
			div.btm-links
				a(href='#')#forgot-password Forgot Your Password?
				a(href='/signup')#create-account Create An Account
			div.clear-fix

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/vendor/jquery/dist/jquery.min.js')
	script(src='/vendor/jquery-form/jquery.form.js')
	script(src='/vendor/bootstrap/js/modal.js')
	script(src='/vendor/bootstrap/js/transition.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')